body {
    background: #645D5D;
    max-width:1200px;
    max-height: 1920px;
    overflow: hidden;
}

.topBar {
    position: fixed;
    width: 1080px;
    height: 100px;
    left: 0px;
    top: 0px;

    background: #000000;
}

#back{
    position:fixed;
    left: 10px;
    top: 5px; 
}

#home{
    position: fixed;
    left: 1000px;
    top: 5px;
}

.icon{
    color: white;
}

.weather {
    position: absolute;
    width: 83px;
    height: 28px;
    left: 15px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #D0DBFF;
}

.time {
    position: absolute;
    width: 89px;
    height: 28px;
    left: 688px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;

}

.sideBar {
    position: fixed;
    width: 360px;
    height: 100%;
    left: 0px;
    top: 100px;
    /* font-size: 10000000px; */

    background: #15223B;
}

.mainArea {
    position: absolute;
    display: flex;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 720px;
    height: 95%;
    left: 360px;
    top: 100px;

    background: #D0DBFF;
}

.bottombar{
    font-family: sans-serif;
    width: 1080px;
    height: 100px;
    background-color: black;
    color: white;
    position: fixed;
    bottom:0%;
    left: 0%; 
    font-size: 4vh;
}

#cd{
    position: relative;
    left: 150px;
}

#temp{
    position: fixed;
    right: 5px;
}

.WignacourMuseum {
    position: relative;
    width: 100%;
    height: 30%;
    left: 0;
    top: 0;
}

.StPaulsCatacombs {
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
    top: 0;
}

.SaintAgathasCatacombs {
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
    top: 0;
}

.DomusRomana {
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
    top: 0;
}

.DomusRomanaHeader {
    left: 30%;
}

.museum {
    position: absolute;
    /* left: 10%; */
    top: 20%;


    font-size: 180%;
    /* font-weight: bold; */
    color: #15223B;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25), 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.catacombs {
    position: absolute;
    /* left: 3%; */
    top: 50%;

    font-size: 180%;
    font-weight: 100px;
    color: #15223B;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25), 5px 5px 4px rgba(0, 0, 0, 0.25);
}

header {
    position: absolute;
    width: 439px;
    height: 55px;
    left: 25%;
    top: 4%;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
    /* identical to box height */


    color: #FFFFFF;

    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25), 5px 5px 4px rgba(0, 0, 0, 0.35);
}

button {
    position: absolute;
    width: 80%;
    height: 10%;
    margin: 10%;
    border-radius: 20px;
    
    background: #D0DBFF;
}

::-webkit-scrollbar {
    display: none;
}

.text {
    position: absolute;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;

    color: #15223B;
}

.par1SPC {
    width: 90%;
    left: 5%;
    top: 30%;
    text-align: justify;
    /* padding-bottom: 10%; */
}

.par2SPC {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 15%;
    text-align: justify;
}

.par3SPC {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 35%;
    text-align: justify;
}

.par4SPC {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 110%;
    text-align: justify;
}

.par5SPC {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 135%;
    text-align: justify;
}

.fillSPC {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 170%;
    padding-bottom: 90%;
    text-align: justify;
}

.StPaulsCatacombs1 {
    position: absolute;
    width: 40%;
    height: 20%;
    right: 30%;
    
    border-radius: 20px;

    top: 55%;
}

.par1SAC {
    width: 90%;
    left: 5%;
    top: 30%;
    text-align: justify;
}

.par2SAC {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 20%;
    text-align: justify;
}

.par3SAC {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 50%;
    text-align: justify;
}

.par4SAC {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 115%;
    text-align: justify;
}

.fillSAC {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 170%;
    padding-bottom: 90%;
    text-align: justify;
}

.SaintAgathasCatacombs1 {
    position: absolute;
    width: 40%;
    height: 20%;
    right: 30%;
    
    border-radius: 20px;

    top: 58%;
}

.par1WM {
    width: 90%;
    left: 5%;
    top: 30%;
    text-align: justify;
}

.par2WM {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 20%;
    text-align: justify;
}

.par3WM {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 35%;
    text-align: justify;
}

.par4WM {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 115%;
    text-align: justify;
}

.par5WM {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 130%;
    text-align: justify;
}

.fillWM {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 170%;
    padding-bottom: 100%;
    text-align: justify;
}

.WignacourMuseum1 {
    position: absolute;
    width: 40%;
    height: 20%;
    right: 30%;
    
    border-radius: 20px;

    top: 58%;
}

.par1DM {
    width: 90%;
    left: 5%;
    top: 30%;
    text-align: justify;
}

.par2DM {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 20%;
    text-align: justify;
}

.par3DM {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 40%;
    text-align: justify;
}

.par4DM {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 120%;
    text-align: justify;
}

.fillDM {
    width: 90%;
    left: 5%;
    top: 30%;
    padding-top: 170%;
    padding-bottom: 90%;
    text-align: justify;
}

.DomusRomana1 {
    position: absolute;
    width: 40%;
    height: 20%;
    right: 30%;
    
    border-radius: 20px;

    top: 60%;
}


.par1OV {
    width: 90%;
    left: 5%;
    top: 10%;
    text-align: justify;
}

.par2OV {
    width: 90%;
    left: 5%;
    top: 10%;
    padding-top: 10%;
    text-align: justify;
}

.par3OV {
    width: 90%;
    left: 5%;
    top: 10%;
    padding-top: 45%;
    text-align: justify;
}

.par4OV {
    width: 90%;
    left: 5%;
    top: 10%;
    padding-top: 120%;
    text-align: justify;
}

.Overview {
    position: absolute;
    width: 60%;
    height: 20%;
    right: 20%;
    
    border-radius: 20px;

    top: 40%;
}

.OverviewTitle {
    position: absolute;
    width: 439px;
    height: 55px;
    left: 40%;
    top: 4%;
}

.selectionHeader {
    position: absolute;
    width: 439px;
    height: 55px;
    left: 35%;
    top: 2%;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;


    color: #15223B;

    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25), 5px 5px 4px rgba(0, 0, 0, 0.35);
}

.buttons {
    /* font-size: 180%; */
    /* font-weight: bold; */
    position: center;
    left: 15%;
    height: 25%;
    width: 50%;
    padding: 0%;

    background-color: #D0DBFF;
    color: #D0DBFF;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25), 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.btn1 { 
    position: absolute;
    /* left: 10%; */
    top: 5%;
}

.btn2 {
    position: absolute;
    /* left: 20%; */
    top: 45%;
}

/* img {
    height: 40%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    
    top: 0px;
} */

.card {
    background: #15223B;
    width: 100%;
    height: 100%;

    border-radius: 20px;
}

.image {
    height: 40%;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    
    top: 0px;
    background-color: #15223B;
    height: 70%;
    width: 100%;

    background-size: cover;
}

.img1{
    background-image: url('\images\AbbatijaTadDejr.jpg');
}

h2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 200%;
    line-height: 55px;


    color: #D0DBFF;

    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25), 5px 5px 4px rgba(0, 0, 0, 0.35);
}


.goToLocWM {
    right: 0;
    /* top: 95%; */
    margin-top: 230%;
    margin-bottom: 120%;

    background: #15223B;;
    font-family: sans-serif;
    
    font-size: 180%;
    /* font-weight: bold; */
    color: #D0DBFF;
    text-shadow: 5px 5px 4px rgba(255, 255, 255, 0.25), 5px 5px 4px rgba(255, 255, 255, 0.25);
}

.goToLocDM {
    right: 0;
    /* top: 95%; */
    margin-top: 220%;

    background: #15223B;;
    font-family: sans-serif;
    
    font-size: 180%;
    /* font-weight: bold; */
    color: #D0DBFF;
    text-shadow: 5px 5px 4px rgba(255, 255, 255, 0.25), 5px 5px 4px rgba(255, 255, 255, 0.25);
}

.goToLocSPC {
    right: 0;
    /* top: 95%; */
    margin-top: 220%;

    background: #15223B;;
    font-family: sans-serif;
    
    font-size: 180%;
    /* font-weight: bold; */
    color: #D0DBFF;
    text-shadow: 5px 5px 4px rgba(255, 255, 255, 0.25), 5px 5px 4px rgba(255, 255, 255, 0.25);
}

.goToLocSAC {
    right: 0;
    /* top: 95%; */
    margin-top: 220%;

    background: #15223B;;
    font-family: sans-serif;
    
    font-size: 180%;
    /* font-weight: bold; */
    color: #D0DBFF;
    text-shadow: 5px 5px 4px rgba(255, 255, 255, 0.25), 5px 5px 4px rgba(255, 255, 255, 0.25);
}

.WignacourMuseumMap {
    position: relative;
    margin-top: 160%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 650px;
    height: 450px;

    border-radius: 20px;
}

.DomusRomanaMap {
    position: relative;
    margin-top: 220%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 650px;
    height: 450px;

    border-radius: 20px;
}

.StPaulsCatacombsMap {
    position: relative;
    margin-top: 220%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 650px;
    height: 450px;

    border-radius: 20px;
}

.SaintAgathasCatacombsMap {
    position: relative;
    margin-top: 220%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 650px;
    height: 450px;

    border-radius: 20px;
}